:root {
    --primary-color: #3004cf;
    --bg-color: #1b1918;
    --text-color: #f0f0f5;
    --light-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    background-color: #130f0d;
    color: #f0f0f5;
}

form {
    background: rgba(255, 255, 255, 0.03);

    width: 100%;
    max-width: 500px;
	border-radius: 20px;
    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
	display: flex;
	align-items: center;
	justify-content:flex-start;

    width: 100%;

    padding: 16px;

    border:none;
    border-bottom: 1px solid var(--primary-color);

    background-color: #714df09c;
	border-radius: 20px;

    outline: none;

    /* text */
    color: var(--text-color);
    font-size: 1em;

}

button {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 16px;
    background-color: var(--primary-color);
}

button:hover {
	cursor: pointer;
	background-color: black;
	color: #fff;
}

input ~ label {
    position: relative;
    top: 16px;
    left: 15px;

    color: rgba(255, 255, 255, 0.6) ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.dev{
	width: 100%;
	background-color: #3e424d;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.dev div{
	display: grid;
	justify-content: center;
	box-sizing: border-box;
}

.dev img{
	display: flex;
	margin: 0 auto;
	max-width: 30px;
	padding: 2px;
}

.dev p{
	font-size: 15px;
	text-align: center;
	color: #79b6f0;
}